<div class="container bg-blue text-center">
  <h1 class="heading-font txt-white py-4"> My Dashboard</h1>
</div>
<% if current_user.seller_profile %>

<% else %>

<% end %>
<p>Find me in app/views/dashboard/index.html.erb</p>
