<div class="bg-red txt-white text-center py-3">
  <h1 class="heading-font">Your Details</h1>
</div>
<%= render 'form', profile: @profile %>

<div class="container-fluid text-center mt-4">
  <%= link_to 'Back', home_path, class: "btn btn-secondary" %>
</div>