<div class= "container-fluid py-5 my-5">
  <h1 class= "heading-font">Home cooking has one unique ingredient..</h1>
</div>

<div class= "container-fluid py-5 my-5">
  <h1 class="text-center heading-font">Love</h1>
</div>

<div class= "container-fluid py-5 my-5 text-center">
  <h1 class="float-right heading-font">&</h1>
</div>

<div class= "container-fluid row pt-5 mt-5">
  <div class="col-4 offset-8 col-lg-2 offset-lg-10 text-center">
    <h3 class="float-right lobster">somtimes Lobster</h3>
    <%= image_tag 'favicon-32x32.png', class: "" %>
    <%= image_tag 'favicon-32x32.png', class: "" %>
    <%= image_tag 'favicon-32x32.png', class: "" %>
  </div>
</div>