<div class="landing-photo">
  <%= image_tag 'kitchen.jpg', class: "w-100" %>
</div>
<div class="row m-0 p-0">
  <div class="col-md-4 col-12 text-center py-3">
    <div class="w-75 mx-auto my-3">
      <%= fa_icon "cutlery 5x", class: "txt-blue" %>
    </div>
    <p class="w-75 mx-auto">A healthier alternative to eating out, Lobster is a platform where you can order home-cooked meals from local kitchens in your area.</p>
  </div>
  <div class="col-md-4 col-12 text-center py-3">
    <div class="w-75 mx-auto my-3">
      <%= fa_icon "credit-card-alt 5x", class: "txt-grey" %>
    </div>
    <p class="w-75 mx-auto">You can choose to set up your own shop and cook for an additional income. Like Uber, you choose when you work and how much hours you put in. </p>
  </div>
  <div class="col-md-4 col-12 text-center py-3">
    <div class="w-75 mx-auto my-3">
      <%= fa_icon "car 5x", class: "txt-red" %>
    </div>
    <p class="w-75 mx-auto">Have your meals delivered to your door or if youre feeling Lazy, selected cooks have a delivery option if you're close enough.</p>
  </div>
</div>
