<h1>My Seller Profile</h1>


<h2><%= @seller_profile.shop_name %></h2>
<p><%= @seller_profile.shop_description %></p>

<%= image_tag @seller_profile.shop_photo_url(:thumb) %>
<%= image_tag @seller_profile.user_photo_url(:thumb) %>

